.btn {
	--btn-default-color: #4e5963;
	--btn-hover-color: #2b3945;
	--btn-default-bg-color: transparent;
	--btn-hover-bg-color: transparent;
	--btn-height: 32px;
	--btn-font-size: 14px;
	--btn-padding: 0 10px;
	height: var(--btn-height);
	padding: var(--btn-padding);
	color: var(--btn-default-color);
	background-color: var(--btn-default-bg-color);
	border: 1px solid var(--btn-default-color);
	font-size: var(--btn-font-size);
	line-height: inherit;
	border-radius: 2px;
	font-weight: 500;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: default;
	white-space: nowrap;
	font-family: inherit;
	margin: 0;
	text-decoration: none;
	transition: 0.15s ease-in-out;
	transition-property: background-color, border, color;

	&:not(.no-hover) {
		cursor: pointer;

		&:hover {
			color: var(--btn-hover-color);
			background-color: var(--btn-hover-bg-color);
			border-color: var(--btn-hover-color);
		}
	}

	> .icon {
		color: inherit;
		margin-right: 5px;
	}
}

.btn--negative {
	--btn-default-color: #cc3131;
	--btn-hover-color: #a32727;
}

.btn--positive {
	--btn-default-color: #47b178;
	--btn-hover-color: #398e60;
}

.btn--primary {
	--btn-default-color: #3892e3;
	--btn-hover-color: #2d75b6;
}

.btn--inverted {
	--btn-default-color: #fff;
	--btn-hover-color: #fff;
	--btn-default-bg-color: #4e5963;
	--btn-hover-bg-color: #2b3945;
	border-color: transparent;

	&:hover:not(.no-hover) {
		border-color: transparent;
	}

	&.btn--primary {
		--btn-default-bg-color: #3892e3;
		--btn-hover-bg-color: #2d75b6;
	}

	&.btn--positive {
		--btn-default-bg-color: #47b178;
		--btn-hover-bg-color: #398e60;
	}

	&.btn--negative {
		--btn-default-bg-color: #cc3131;
		--btn-hover-bg-color: #a32727;
	}
}

.btn--tiny {
	--btn-height: 20px;
	--btn-font-size: 12px;
	--btn-padding: 0 6px;
}

.btn--small {
	--btn-height: 24px;
	--btn-font-size: 12px;
}

.btn--big {
	--btn-height: 42px;
	--btn-font-size: 16px;
	--btn-padding: 0 20px;
}