.content {
	flex-grow: 1;
	overflow: hidden;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.query-box {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	background-color: #f5f5f5;
}

.query-result {
	flex-grow: 1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
}

.no-query-result {
	margin: 40px 20px;
	padding: 30px 20px;
	text-align: center;
	border: 1px solid #acacac;
	background-color: #ececec;
	border-radius: 4px;
}

.no-query-box {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.table-wrapper {
	border: 1px solid #ababab;
	overflow: auto;
}

table {
	width: 100%;
	border:none;
	border-collapse: separate;
	border-spacing: 0;
}

thead {
	th {
		position: sticky;
		top: 0;
		background-color: white;
		border-bottom: 1px solid #ababab;
	}
}

td, th {
	text-align: left;
	vertical-align: top;
	padding: 10px;
	min-width: 100px;
}

tbody {
	tr:nth-child(odd) {
		background-color: #ededed;
	}
}